<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

  <%= form_with scope: :user, url: "/users/forgot_password" ,:method=>"post" do |f| %>
    <div class="form-outline mb-4">
      <%= f.label :email,:class=>"form-label" %>
      <%= f.text_field :email,:class=>"form-control form-control-lg"  %>
    </div>

    <div class="text-center text-lg-start mt-4 pt-2">

      <%=  f.submit :send_me_instructions, class: 'btn btn-primary btn-lg',:style=>"padding-left: 2.5rem; padding-right: 2.5rem;" %>
      <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/users/signup_new"
                                                                        class="link-danger">Register</a></p>
    </div>

  <% end %>


</div>